<div class="container">
    <!-- footer list -->
    <div class="footer__row">
        <!-- footer-col-1 -->
        <div class="footer__col">
            <a href="./" class=" footer__logo">
                <img src="./asset/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <p class="footer__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem voluptatibus.
            </p>
            <form action="" class="footer__form">
                <input type="text" placeholder="Email address" class="footer__input" />
                <button type="submit" class="btn btn--primary">Submit</button>
            </form>
        </div>

        <!-- footer-col-2 -->
        <div class="footer-col">
            <h3 class="footer__heading">shop</h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link"> Customer Service </a>
                </li>
                <li>
                    <a href="" class="footer__link"> Terms of Use </a>
                </li>
                <li>
                    <a href="" class="footer__link">Careers </a>
                </li>
                <li>
                    <a href="" class="footer__link"> Affiliates</a>
                </li>
                <li>
                    <a href="" class="footer__link"> All Departments </a>
                </li>
            </ul>
        </div>

        <!-- footer-col-3 -->
        <div class="footer-col">
            <h3 class="footer__heading">support</h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link"> Store locator </a>
                </li>
                <li>
                    <a href="" class="footer__link">Order status </a>
                </li>
            </ul>
        </div>

        <!-- footer-col-4-->
        <div class="footer-col">
            <h3 class="footer__heading">company</h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link"> All Departments </a>
                </li>
                <li>
                    <a href="" class="footer__link">Home & Living Specials </a>
                </li>
                <li>
                    <a href="" class="footer__link"> All Departments </a>
                </li>
                <li>
                    <a href="" class="footer__link">Electronics Discounts </a>
                </li>
                <li>
                    <a href="" class="footer__link">Fashion Deals </a>
                </li>
            </ul>
        </div>

        <!-- footer-col-5-->
        <div class="footer-col">
            <h3 class="footer__heading">contact</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__lable">Email</p>
                    <a href="" class="footer__link"> huuthanh9agm@gmail.com </a>
                </li>
                <li>
                    <p class="footer__lable">Hotline</p>
                    <a href="" class="footer__link">0909173004</a>
                </li>
                <li>
                    <p class="footer__lable">Address</p>
                    <a href="" class="footer__link"
                        >No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi</a
                    >
                </li>
                <li>
                    <a href="" class="footer__link"> All Departments </a>
                </li>
                <li>
                    <a href="" class="footer__link"> All Departments </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
        <div class="footer__socials">
            <a href="" class="footer__social-link">
                <img src="./asset/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="" class="footer__social-link">
                <img src="./asset/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="" class="footer__social-link">
                <img src="./asset/icons/instagram.png" alt="" class="footer__social-icon" />
            </a>
            <a href="" class="footer__social-link">
                <img src="./asset/icons/google.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
