@use "../abstract";
html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);

    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --body-bg: #f6f6f6;
    --sidebar-bg: #fff;
    --dropdown-bg: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --dropdown-arrow-color: #fff;
    --border-right-menu: #d2d1d6;
    --heading-menu-color: #1a162e;
    --link-menu-color: #1a162e;
    --cate-bg-color: #eee;
    --title-cate-item-color: #000;
    --like-btn-bg: #fff;
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --footer-bg-color: #eee;
    --filter-form-bg: #fff;
    --filter-btn-color: #fff;
    --filter-arrow: #fff;
    --filter-form-tag-bg: #f8f8fb;
    --filter-footer-bg: #fff;
    --auth-bg: #fff;
    --product-detail-bg: #fff;
    --breadcrumb-bg: #f6f6f6;
    --product-info-bg: #F6F6F6;
    --active-color:#1a162e;
    --review-card-bg: #FAFAFD;


    @include abstract.breakpoint(lg) {
        --header-bg-color: #fff;
    }
}
