.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    background: #f8f8fb;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    &--primary {
        color: #171c28;
        background: #ffb700;
    }
    &--rounded {
        border-radius: 99px;
    }
    &--text {
        background: transparent;
        color: #9e9da8;
        font-weight: 400;
    }
    &--outline {
        background: #fff;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
        background: transparent;
    }
    &--disabled{
        opacity: .5;
        pointer-events: none;
    }
    &:hover{
        opacity: .8;
    }
}
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--like-btn-bg);
    box-shadow: rgba(124, 124, 124, 0.2) 0px 20px 60px;
    border-radius: 50%;
    &--liked &__icon {
        display: none;
    }
}
