@use "../abstract";
.checkout-container {
    margin-top: 30px;
}
.cart-info {
    background: var(--cart-info-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    @include abstract.breakpoint(md){
        padding: 10px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        margin: 30px 0;
    }

    &__sub-lable {
        font-weight: 400;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }
}
.cart-item {
    display: flex;

    &__thumb {
        width: 150px;
        height: 150px;
        @include abstract.breakpoint(lg) {
            width: 70px;
            height: 70px;
        }
    }
    &__info {
        display: flex;
        @include abstract.breakpoint(md) {
            flex-direction: column;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include abstract.breakpoint(md) {
                margin-top: 30px;
            }
        }
    }

    &__title {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
        max-width: 374px;
        @include abstract.breakpoint(md) {
            font-size: 1.4rem;
        }
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        text-align: right;

        @include abstract.breakpoint(md) {
            text-align: left;
        }
    }
    &__price-wrap {
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        margin: 16px 0;
    }
    &__status {
        display: inline-block;
        color: #67b044;
    }
    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;

        @include abstract.breakpoint(lg) {
            &:last-child {
                margin-top: 20px;
            }
        }
        @include abstract.breakpoint(md) {
            flex-direction: column;
            align-items: flex-start;
        }

        &-btn {
            color: #9e9da8;

            font-style: normal;
            font-weight: 500;
            line-height: 150%;

            display: flex;
            align-items: center;
            gap: 10px;
        }

        &--row {
            @include abstract.breakpoint(md) {
                flex-direction: row;
                align-items: center;
            }
        }
    }
    &__input {
        border-radius: 10px;
        border: 1px solid #d2d1d6;
        padding: 10px 15px ;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 10px;
        // min-width: 135px;

        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__separate {
        width: 100%;
        height: 1px;
        background: var(--cart-item-sprt-bg);
        margin: 28px 0;
    }
}

.cart-pay {
    &__left {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        height: 100%;
    }
    &__text {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 144.444%;
        &--bold {
            font-weight: 700;
        }
    }

    &__separate {
        width: 100%;
        height: 1px;
        background: #000;
        margin: 30px 0;
    }

    &__btn {
        margin-top: 30px;
    }
}
.cart-info + .cart-info {
    margin-top: 30px;
}
.cart-gift {
    background: var(--cart-gift);

    &__row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}
